<view class="padded" id="dashboard">
  <div class="text-center">
    <h4 style="float:left;">Welcome Back, {{user.username}}</h4>
    <h4 style="float:right;">{{user.house}}</h4>
    <style>
      .panel-body.animated{
        max-height: 300px;
        overflow: scroll;
      }
      h4 {
        padding-top:0;
      }

      .item {
        text-align: left;
      }
      .item span{
        font-weight: bold;
      }
    </style>

    <div class="row" style="clear:both;">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <span class="panel-title">Messages</span>
            <span class="glyphicon glyphicon-collapse-down"></span>
          </div>
          <div class="panel-body animated">
            <ul class="list-group messageList">
              <li class="list-group-item" ng-if="isEmpty.messages==true">No Messages Received</li>
              <li ng-repeat-start="data in messages.everyone" class="list-group-item" ng-class="{mine : data.mine}">
                <div>
                  <img ng-src="{{data.image}}"/>
                  <div>{{data.name}}</div>
                </div>
                <div>{{data.message}}</div>
              </li>
              <div ng-repeat-end></div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <span class="panel-title">Issues Assigned to Me</span>
            <span class="glyphicon glyphicon-collapse-down"></span>
          </div>
          <div class="panel-body animated">
            <ul class="list-group issueList">
              <li class="list-group-item" ng-if="isEmpty.issues==true">No Issues Yet</li>
              <li ng-repeat="data in issues" class="list-group-item">
                <div>
                  <span>{{data.name}}</span>
                </div>
                <div class="divider"></div>
                <div class="assigner">
                  <img ng-src="{{data.assignedBy.image}}"/>
                  <div>{{data.assignedBy.name}}</div>
                </div>
                <div class="assignee">
                  <img ng-src="{{data.assignedTo.image}}"/>
                  <div>{{data.assignedTo.name}}</div>
                </div>

                <div>
                  <div class="arr-body"></div> <i class="arr-right"></i><br>
                </div>
                <form role="form" ng-if="data.done==false && data.mine==true" ng-submit="markDone(data)">
                  <br/>
                  <button type="submit" class="btn btn-default">Issue Resolved</button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <span class="panel-title" >Shopping List</span>
            <span class="glyphicon glyphicon-collapse-down"></span>
          </div>
          <div class="panel-body animated">
            <ul class="list-group shoppingList">
              <li class="list-group-item" ng-if="isEmpty.shoppinglist==true">No Shopping List Items</li>
              <li ng-repeat="data in list" class="list-group-item">
                <div class="item">
                  <div><span>{{data.name}}</span></div>
                  <div>Quantity : {{data.quantity}}</div>
                </div>
                <form class="purchase" ng-if="data.isPurchased==false" ng-submit="mark(data)">
                  <button type="submit" class="btn btn-default">Purchased</button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </view>
</div>

<script>
  $(".panel-heading").off("click").on("click",function(){
    var panel = $(this).parent();
    panel.toggleClass("untoggled");
    $(".glyphicon",panel).toggleClass("glyphicon-collapse-down").toggleClass("glyphicon-collapse-up");
  });
</script>