<div class="text-center">
  
  <view class="padded" id="dashboard">
    <h1>{{user.house}}</h1>
    <style>
      .panel-body.animated{
        max-height: 300px;
        overflow: scroll;
      }
    </style>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <span class="panel-title">Messages</span>
            <span class="glyphicon glyphicon-collapse-down"></span>
          </div>
          <div class="panel-body animated">
            <ul class="list-group messageList">
              <li class="list-group-item" ng-if="isEmpty.messages==true">No Messages Received</li>
              <li ng-repeat-start="data in messages.everyone" class="list-group-item" ng-class="{mine : data.mine}">
                <div>
                  <img ng-src="{{data.image}}"/>
                  <div>{{data.name}}</div>
                </div>
                <div>{{data.message}}</div>
              </li>
              <div ng-repeat-end></div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <span class="panel-title">Issues</span>
            <span class="glyphicon glyphicon-collapse-down"></span>
          </div>
          <div class="panel-body animated">
              <ul class="list-group">
              <li class="list-group-item" ng-if="isEmpty.issues==true">No Issues Yet</li>
              <li ng-repeat="issue in issues" class="list-group-item"> 
                <div>
                  Name : {{issue.Name}}
                </div>              
                <div>
                  AssignedBy : {{issue.AssignedBy}}
                </div>
                <div>
                  Done : {{issue.Done}}
                </div>               
                <div>
                  Assigned To : {{issue.AssignedTo.name}}
                </div>                
                <div>
                Repeat:  {{issue.Repeat}}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <span class="panel-title" >Shopping List</span>
            <span class="glyphicon glyphicon-collapse-down"></span>
          </div>
          <div class="panel-body animated">
            <ul class="list-group">
              <li class="list-group-item" ng-if="isEmpty.shoppinglist==true">No Shopping List Items</li>
              <li ng-repeat="data in list" class="list-group-item">
                Name : {{data.name}}
                Quantity : {{data.quantity}}
                <div ng-if="data.purchasedBy.length > 0">Purchased by: {{data.purchasedBy}}</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </view>
</div>

<script>
  $(".panel-heading").off("click").on("click",function(){
    var panel = $(this).parent();
    panel.toggleClass("untoggled");
    $(".glyphicon",panel).toggleClass("glyphicon-collapse-down").toggleClass("glyphicon-collapse-up");
  });
</script>