<view class="padded">
  <style>
    .issueList span {
      font-weight: bold;
    }
    .issueList .divider {
      margin:15px 0;
      border-top: 1px solid #dfd7ca;
    }
    .issueList li {
      max-width: 420px;
      overflow: auto;
      margin: 0 auto;
    }
    .issueList li form {
      clear: both;
    }
    .issueList .assigner {
      float: left;
    }
    .issueList .assignee {
      float: right;
    }
    .issueList .assigner, .issueList .assignee {
      max-width: 64px;
    }
    .issueList .assigner div, .issueList .assignee div {
      width: 84px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: -13px;
      margin-top: 5px;
      padding-left:8px;
    }
    .issueList .assignee img, .issueList .assigner img {
      width:36px;
      max-height: 36px;
      border-radius: 18px;
      border:2px solid rgb(223, 215, 202);
      box-shadow: 0px 0px 5px 2px rgb(223, 215, 202);
    }
    .arr-right {
      transform:rotate(-45deg);
      -webkit-transform:rotate(-45deg);
      float:right;
    }
    .arr-right{
      /*border: solid black;*/
      border: solid #dfd7ca;
      border-width: 0 5px 5px 0;
      display: inline-block;
      padding: 8px;
      margin-top: -13px;
      margin-right: 8px;
    }
    .arr-body {
      /*border-top: 5px solid black;*/
      border-top: 5px solid #dfd7ca;
      margin: 32px 72px 0 64px;
    }
    .buttons {
      margin:15px;
      overflow: auto;
    }
    .buttons button{
      color: white;
      min-width:20%;
      max-width:30%;
    }
    .touchevents .buttons button {
      font-size: 10px;
      padding: 5px;
    }
    button.grey {
      color: grey !important;
    }
    .completed {
      color: rgb(147, 197, 75);
    }
    .incomplete {
      color: #ED4337;
    }
  </style>
  <div class="text-center">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="panel-title"><h4>Add Issue</h4></span>
          </div>
          <div class="panel-body">
            <form ng-submit="addIssue()">
                <!-- IssueText Area-->
                <textarea ng-model="newIssueText" placeholder="add your issue" class="form-control" rows="3"></textarea>
                <!-- Repeat or Not -->
                <div class="checkbox form-group" style="display:none;">
                   <label class="bold"><input type="checkbox" ng-model="repeat">Repeat</label>
                </div>
                <!-- dropdown list to choose roommate -->
                <div class="dropdown" style="margin-top:15px;">
                  <!--  full info is {{roommate}} -->
                  <div class="form-group">
                      <label>Assign to? :</label>
                      <select class="form-control" data-ng-model="assigneeName"
                              data-ng-options="act.name for act in roommates">
                      </select>
                 </div>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading" >
            <span class="panel-title"><h4>Filters</h4></span>
          </div>
          <div class="panel-bod">
            <div class="buttons">
              <button class="btn btn-default grey" style="float:left;" ng-click="filterToggle('onlyMineFlag')">Assigned To Me</button>
              <button class="btn btn-default grey" style="float:right;" ng-click="filterToggle('onlyGivenFlag')">Assigned By Me</button>
              <button class="btn btn-default grey" ng-click="filterToggle('onlyDoneFlag')">Incomplete</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="panel-title"><h4>Issue List</h4></span>
          </div>
          <div class="panel-body">
            <ul class="list-group issueList">
              <li class="list-group-item" ng-if="isEmpty.issues==true">No Issues Yet</li>
              <li ng-repeat="data in issues" class="list-group-item " ng-if="issueFilter(data)" >
                <div ng-if="data.done==true">
                  <span>{{data.name}}</span>
                </div>
                 <div ng-if="data.done!=true">
                  <span>{{data.name}}</span>
                </div>
                <div class="divider"></div>
                <div class="assigner">
                  <img ng-src="{{data.assignedBy.image}}"/>
                  <div>{{data.assignedBy.name}}</div>
                </div>
                <div class="assignee">
                  <img ng-src="{{data.assignedTo.image}}"/>
                  <div>{{data.assignedTo.name}}</div>
                </div>
                <div>
                  <div class="arr-body"></div> <i class="arr-right"></i><br>
                </div>
                <div class="completed" ng-if="data.done==true">
                  Completed
                </div>
                <form role="form" ng-if="data.done==false && data.mine==true" ng-submit="markDone(data)">
                  <br/>
                  <button type="submit" class="btn btn-default">Issue Resolved</button>
                </form>
                <div class="incomplete" ng-if="data.done==false && data.mine==false">
                  Incomplete
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</view>