<view class="padded">
  <div class="text-center">
    
    <div class="row">
      
      <div class="col-sm-12 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="panel-title"><h3>Add Issue</h3></span>
            <form ng-submit="addIssue()">
              <div class="form-group">
                <textarea ng-model="newIssueText" placeholder="add your issue" class="form-control" rows="5"></textarea>
                <textarea ng-model="AssignedToUID" placeholder="add assigned to uid " class="form-control" rows="5"></textarea>
                <div class="checkbox">
                   <label><input type="checkbox" ng-model="Repeat" value="">Repeat</label>
                </div>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
              <div>TODO : need to select a user type here</div>
            </form>
          </div>
        </div>
      </div>
      
      <div class="col-sm-12 col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="panel-title"><h3>Issue List</h3></span>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li ng-repeat="data in issues" class="list-group-item"> 
                <div>
                  <div>
                    Name : {{data.Name}}
                  </div>
                  <div>
                    AssignedBy : {{data.AssignedBy.userName}}
                  </div>
                  <div>
                    Done : {{data.Done}}
                  </div>
                </div>
                <div>
                  Assigned To : {{data.AssignedTo.userName}}
                </div>
                <div>
                  Repeat:  {{data.Repeat}}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
</view>
