body { padding-top: 60px; }

view {
  display:block;
  width:100%;
  height:100%;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
  /*don't allow text selection for the most part*/
  -webkit-user-select: none;
  user-select: none;
  margin-left:15px;
}

view > div {
  margin-left: -15px;
  margin-right: 15px;
}



body,html, #hh, #root, #root > div, #root > div > div {
  height:100%;
  width:100%;
}
body {
  background:#f2f2f2;
}
.enable {
  color:green;
  font-weight:bold;
}

.disable {
  color:grey;
}

.subview {
  padding:15px;
  background:rgba(255,255,255,1);
  border-radius: 15px;
  border:1px solid #ddd;    
  -webkit-box-shadow: rgba(255, 255, 255, 0.6) 0px 5px 0px 0px inset, rgba(0, 0, 0, 0.2) 0px 3px 7px 0px;
}

.padded {
  padding:15px;
}

.animated {
  transition-duration: 500;
}

.untoggled > .panel-body {
  height:0;
  padding:0;
  overflow:hidden;
}

/*
    animations for views as they change
*/
.view-animate-container {
  position:relative;
  overflow:hidden;
}

.view-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  width:100%;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  display:block;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}

#loader{
    width:50px;
    height:50px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-25px 0 0 -25px;
    z-index:999;
}

textarea {
    resize:none;
}

h4 {
  color:rgb(102, 101, 89);
}

h1 {
  margin-top:0px;
  margin-bottom:15px;
}

.bold {
  font-weight: bold !important;
}

/* style for the messages */
.messageList li > div {
  float: left;

}
.messageList li.mine > div {
  float: right;
}
.messageList li > div:first-child {
  width:64px;
  max-width: 30%;
}

.messageList li > div:first-child > div {
  overflow:hidden;
  text-overflow: ellipsis;
}

.messageList li > div:last-child {
  margin:5px 0 0 5%;
  background: #BDBEC2;
  color: #fff;
  padding:10px 15px;
  border-radius: 15px;
  max-width:65%;
}
.messageList li.mine > div:last-child {
  /*background: #007aff;*/
  background-color: rgb(147, 197, 75);
  margin:8px 16px 0 0;
}
.messageList li {
  clear: both;
  overflow: auto;
  padding-right: 5px;
  padding-left: 5px;
}
.messageList li img {
  height: 36px;
  border-radius: 18px;
/*  border:2px solid #ccc;*/
  border:2px solid rgb(223, 215, 202);
  min-height:36px;
  min-width:36px;
  background-color: #f6f6f6;
  box-shadow: 0px 0px 5px 2px rgb(223, 215, 202);
}

.shoppingList li {
  overflow:auto;
}
.shoppingList .item {
  float:left;
  text-align: left;
  max-width: 60%;
}
.touchevents .shoppingList .item {
  max-width: 50%;
}
.shoppingList .item span{
  font-weight: bold;
}
.shoppingList .purchase {
  float:right;
}
.shoppingList .checkmark {
  height:48px;
  width:48px;
  padding:10px;
  float:right;
  border:1px solid rgb(223, 215, 202);
  border-radius:32px;
  /*background-color: rgb(248, 245, 240);*/
  background-color: #f6f6f6;
  margin-top:6px;
}



/*if touce device detected, then this class will be active*/
.touchevents #navbar a:hover {
  color:#98978b;
  background-color: transparent;
}

.touchevents #navbar .clicked a {
  color: #ffffff;
  background-color: transparent;
}