body { padding-top: 50px; }

view {
    display:block;
    width:100%;
    height:100%;
    overflow:scroll;
}

body,html, #hh, #root, #root > div, #root > div > div {
    height:100%;
    width:100%;
}
body {
    background:#f2f2f2;
}

.subview {
    padding:15px;
    background:rgba(255,255,255,1);
    border-radius: 15px;
    margin-top:15px;
    border:1px solid #ddd;    
    -webkit-box-shadow: rgba(255, 255, 255, 0.6) 0px 5px 0px 0px inset, rgba(0, 0, 0, 0.2) 0px 3px 7px 0px;
}

.padded {
    padding:15px;
}

.animated {
    transition-duration: 500;
}

.untoggled > .panel-body {
    height:0;
    padding:0;
    overflow:hidden;
}

/*
    animations for views as they change
*/
.view-animate-container {
  position:relative;
  overflow:hidden;
}

.view-animate {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
    width:100%;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  display:block;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}

#loader{
    width:50px;
    height:50px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-25px 0 0 -25px;
    z-index:999;
}

textarea {
    resize:none;
}

.navbar {
  margin-bottom: 0px;
}

